{% include "divide.html" %} 
{% include "distinct.html" %} 
{% include "nodes.html" %}

<script>
    var topologies = {{ topologies|safe }};

//    let mildWarning = 0;
//    let moderateWarning = 0;
//    let severeWarning = 0;
//    if (gon.warning != undefined) {
//        mildWarning = gon.warning.mild;
//        moderateWarning = gon.warning.moderate;
//        severeWarning = gon.warning.severe;
//    }

//    function delay_colorCheck(delay_time) {
//        let check = Math.round((((delay_time) * 1000) * 100)) / 100;
//        if (mildWarning != 0 || moderateWarning != 0 || severeWarning != 0) {
//            if (check >= severeWarning) {
//                return '#FF0040';
//            } else if (check >= moderateWarning) {
//                return '#FF8000';
//            } else if (check >= mildWarning) {
//                return '#FFBF00';
//            }
//        }
//    }
    // スイッチ間のつながりを表示する
    let edges = [];
    for (i = 0; i < topologies.length; i++) {
        if (topologies[i][1] != null) {
            if (topologies[i][1].match(/-/)) {
                edges.push({
                    from: topologies[i][0].split("-")[0],
                    to: topologies[i][1].split("-")[0],
                    label: `${topologies[i][0]} ${topologies[i][1]} \n ${Math.round((((topologies[i][2])*1000)*100))/100}ms`,
                    //color: delay_colorCheck(topology[i][2]),
                    width: 3,
                });
            } else {
                edges.push({
                    from: topologies[i][0].split("-")[0],
                    to: topologies[i][1],
                    label: `${topologies[i][0]}`,
                    width: 3,
                });
            }
        }
    }
    // create a network
    let container = document.getElementById('mynetwork');
    // provide the data in the vis format
    let data = {
        nodes: nodes,
        edges: edges
    };
    let options = {
    //    layout: {
    //        randomSeed: 2
    //    } 
    };
    // initialize your network!
    let network = new vis.Network(container, data, options);
    </script>