<script>
    var topologies = {{ topologies|safe }};
    let switches = []
    let hosts = []
    let selections = []
        // スイッチとホストを分けて取り出す
    for (var i = 0; i < topologies.length; i++) {
        if (topologies[i][1] != null) {
            if (topologies[i][1].match(/-/)) {
                switches.push(topologies[i][0].split("-")[0], topologies[i][1].split("-")[0]);
            } else {
                hosts.push(topologies[i][1]);
                selections.push(topologies[i][0]);
            }
        }
    }
</script>