{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<h1>Vlans</h1>
<table>
    <tr>
    <th>VLAN番号</th>
    <th></th>
    <th></th>
    </tr>
  {% for v in vlans %}
    <tr>
      <th class="num">{{ v.vlanid }}</th>
      <th class="show"><a href="{% url 'vlans_show' v.vlanid %}">show</a></td>
      <th class="delete" onclick='del({{ v.vlanid }})'>delete</a></td>
    </tr>
  {% endfor %} 
</table>

<script>
function del(id) {
  $.ajax({
    url: `http://10.50.0.100:8080/del/${id}`,
    type: 'GET'
  })
  .done(function(response){
    $.ajax({
      url: `http://10.50.0.101:8000/vlans_del/`,
      type: 'GET',
      data: {
        vlan_id: id,
      }
    })

  })
  .fail(function(xhr){
    console.log("feild")
  });
}
</script>
{%endblock%}